.git
.github
.gocache
.idea
.vscode
.worktrees
.superpowers
*.log
*.db
*.db-journal
*.db-shm
*.db-wal
.DS_Store
.env
.env.local

data/
dist/
bin/

web/node_modules/
web/dist/
web/build/
web/.eslintcache
web/.stylelintcache
web/npm-debug.log*
web/yarn-error.log*
web/.pnpm-debug.log*

server/web/dist/*
!server/web/dist/placeholder.txt
